Source: qubes-druide-antidote
Priority: optional
Maintainer: Neowutran <qubes@neowutran.ovh>
Build-Depends: pandoc, debhelper-compat (= 12)
Standards-Version: 4.5.0
Homepage: git@git.sr.ht:~yukikoo/qubes-app-druide-antidote

Package: qubes-druide-antidote
Section: admin
Architecture: any
Depends: ${misc:Depends}
Description: Qubes Druide-Antidote is a [Qubes](https://qubes-os.org) Application.
